@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<input id="UpFile" name="UpFile" type="file" onchange="showPreview(this)" />

<img id="portrait" src="" height="75">
<script type="text/javascript">
    //$(function () {
    function showPreview(source) {
        var file = source.files[0];
        if (window.FileReader) {
            var fr = new FileReader();
            fr.onloadend = function (e) {
                document.getElementById("portrait").src = e.target.result;
                //$.post('/Upload/UploadFile', e.target.result, function () {
                //    alert('success');
                //});
                
                $.ajax({
                    url: '/Upload/UploadFile',
                    type: 'post',
                    //data: JSON.stringify(e.target.result),
                    success: function (json) {
                        alert('success');
                    }
                });
            };
            //fr.readAsBinaryString(file);
            fr.readAsDataURL(file);
        }
    }
    //})
</script>
